*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background: #f4f4f4;
  color: #f9f9d8;
  line-height: 1.5;
  font-size: 0.875rem;
}
main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
  }
  .container {
    text-align: center;
  }
  .container h2 {
    background: #000000;
    color: #f1f1f1;
    padding: 1rem;
    border-radius: 0.55rem;
    margin-bottom: 2.5rem;
  }
  .color {
    color: red;
  }
  .btn-hero {
    text-transform: uppercase;
    background: transparent;
    color: green;
    letter-spacing: 0.2rem;
    display: inline-block;
    font-weight: 700;
    transition: 1s;
    border: 2px solid purple;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .btn-hero:hover {
    color: white;
    background: black;
  }