*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}
h1{
  color: royalblue;
  text-align: center;
  margin-top: 10px;
}
h2{
  color: royalblue;
  text-align: center;
}
p{
  text-align: justify;
  margin-top: 10px;
}

.hero{
  display: flex;
  justify-content: center;
}

.modal-btn{
    background-color: transparent;
    color:orange;
    font-size: 1.5rem;
    align-items: center;
    border: 2px solid orange;
    border-radius: 0.5rem;
    padding: 10px;
    font-weight: 200;
    box-shadow: 0 2px 3px silver;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

/* or use position relative extern and absolute child */

.modal-btn:hover{
    background-color: orange;
    color: white;
    border: 2px solid white;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: blue;
  transition: 0.5s;
  cursor: pointer;
  color: royalblue;
  float: right;
}
.close-btn:hover {
  color: gray;
  transform: rotate(360deg);
}
.modal-overlay{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 25px;
  width: 50%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px royalblue;
}