@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(200deg,pink,purple, blue);
    background-repeat: no-repeat;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container{
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.2);
}

.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

button{
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

select{
    width: 100px;
    padding: 5px;
    cursor: pointer;
}

.options label,
.options select{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type="color"]{
    max-width: 48px;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

#text-input{
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    height: 50vh;
}

.active{
    background-color: purple;
}


/* Smartphones */
@media screen and (max-width: 450px){
    body{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(200deg,blue,gray,green);
        background-repeat: no-repeat;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        outline: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        width: 90%;
        height: fit-content;
        word-wrap: break-word;
        display: block;
    }

}

/* Tablets */
@media screen and (min-width: 451px) and (max-width: 990px){
    html, body{
        height: 100%;
        width: 100vw;
        background-image: linear-gradient(200deg,blue,purple,red);
        background-repeat: no-repeat;
        outline: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    .container{
        width: 70%;
        height: fit-content;
        word-wrap: break-word;
        display: block;
        margin-top: 15px;
        overflow: auto;
    }

}