*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
  /* CSS 2 OK */
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #63c9b4, #ffef78, #eb92be);
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }

  /*
  .wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(255,255,255,0.34);
  }
  */
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    color: #232323;
    border-radius: 16px;
    margin: 3%;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: inherit;
  }

  .calculator-grid > button:active {
    background-color: #ffbceb;
  }

  button[data-operation]{
    color: #ffffff;
    background: #d72880;
    border-radius: 16px;
  }
  
  button[data-operation]:hover{
    color: inherit;
    background: inherit;
  }
  
  .span-two {
    grid-column: span 2;
  }

  .output {
    grid-column: 1 / -1;
    background-color: rgba(255,255,255,0.75);
    color: #232323;
    border: 1px solid white;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px 10px;
    margin: 1%;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: #232323;
    font-size: 1.2rem;
  }
  
  .output .current-operand {
    color: #232323;
    font-size: 2.5rem;
  }

  