:root{
    --back-principal: #f7f7f7;
    --under: lightblue;
    --spacing: 0.25rem;
    --gray: var(--gray);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--back-principal);
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.underline {
    height: 0.25rem;
    width: 7rem;
    background: var(--under);
    margin-left: auto;
    margin-right: auto;
  }
.title {
    text-align: center;
    margin-bottom: 4rem;
  }

  h4{
    letter-spacing: var(--spacing);
    text-transform: capitalize;

  }
  .item-text{
    color: var(--gray);
    padding-top: 1rem;
  }

  .price{
    color: blue;
  }

  .photo{
    object-fit: cover;
    height: 200px;
    border: 0.55rem solid var(--under);
    border-radius: var(--spacing);
  }

  .item-info header{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted lightcoral;
  }
  