:root{
    --back-principal: #f7f7f7;
    --under: lightblue;
    --spacing: 0.25rem;
    --gray: var(--gray);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--back-principal);
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.filter-btn{
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  background-color: transparent;
  color: blue;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 0.5rem;
  margin: 10px 10px 30px 10px;
}

.filter-btn:hover{
  background-color: lightskyblue;
  color: blue;
  box-shadow: 1px 3px gray;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.underline {
  height: 0.25rem;
  width: 6rem;
  background: var(--under);
  margin-left: auto;
  margin-right: auto;
}
.section-center{
  grid-template-columns: 1fr 1fr;
  width: 95vw;
  margin: 0 auto;
  max-width: 1180px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item{
  display: grid;
  gap: 0 1.25rem;
  max-width: 25rem;
}

.photo{
  object-fit: cover;
  height: 200px;
  border: 0.55rem solid var(--under);
  border-radius: var(--spacing);
}

.price{
  color: blue;
}

.item-info header{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted lightcoral;
}

.item-info h4{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item-text{
  color: var(--gray);
  margin-bottom: 0;
  padding-top: 1rem;
}
.footer{
  width: 100%;
  margin-top: 25px;
  display: fixed;
  bottom: 0%;
  height: 100px;
  background-color: gray;
  color: lightskyblue;
}

.footer p{
  text-align: center;
  height: auto;
  font-size: 20px;
  padding: 30px 10px;
}
  
@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1400px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr;
  }
  .photo {
    height: 150px;
  }
}