*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 252, 197);
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}