
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background: #f4f4f4;
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
}
.underline {
    height: 0.25rem;
    width: 7rem;
    background: purple;
    margin-left: auto;
    margin-right: auto;
  }
.title {
    text-align: center;
    margin-bottom: 4rem;
  }
.title h1{
  font-size: 2rem;
}

.content {
    display: none;
  }
  .tab-btn.active {
    background: var(--clr-white);
  }
  .content.active {
    display: block;
  }