*{
    padding: 0;
    margin: 0;
}


.section-center{
    width: 1170px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.grocery-form{
    background-color: rgb(239, 182, 255);
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto;
    width: 50%;
    margin-top: 4rem;
}

.grocery-container{
    margin: 0 auto;
    width: 50%;
    margin-top: 4rem;
    color: blue;

}

h3{
    font-size: 2rem;
    color: rgb(173, 18, 148);
    text-transform: capitalize;
    margin: 1rem 0rem;
    text-align: center;
}

.form-control {
    display: flex;
    justify-content: center;
}

input#grocery{
    padding: 0.5rem;
    background-color: lightgray;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-color: transparent;
    color: blueviolet;
}

.submit-btn{
    border-color: transparent;
    padding: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 3px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

.submit-btn:hover{
    background-color: gray;
    color: blueviolet;
}

.clear-btn{
    border-color: transparent;
    padding: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 1rem;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

.clear-btn:hover{
    background-color: gray;
    color: blueviolet;
}

.alert {
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: 0.25rem;
    text-transform: capitalize;
  }
  .alert-danger {
    color: #721c24;
    background: #f8d7da;
  }
  .alert-success {
    color: #155724;
    background: #d4edda;
  }
.footer{
    width: 100%;
    margin-top: 25px;
    display: fixed;
    bottom: 0;
    height: 100px;
    background-color: black;
    color: white;
    position: absolute;
  }
  
  .footer p{
    text-align: center;
    height: auto;
    font-size: 20px;
    padding-top: 30px;
  }